server:
  port: 8001
spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/taohj/spring-cloud-starter.git     # 配置git仓库的地址
          search-paths: config-repo                             # git仓库地址下的相对地址，可以配置多个，用,分割。
          username: taohj                                       # git仓库的账号
          password: taohuijun0                                    # git仓库的密码
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8888/eureka/   ## 注册中心eurka地址


management:
  security:
     enabled: false

